*.sdf
*.lib
*.ilk
*.pdb
*.exe
*.obj
*.tlog
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.log
*.pch
*.rc
*.obj
*.lastbuildstate
*.opensdf
*.suo
*.user
*.ipch
*.i
*.unsuccessfulbuild
*.cache
*.idb
*.vcproj
*.vcproj.filters
*.dll
*.so
*.lib
*.a
*.sln
*.bin
*.vcxproj
*.vcxproj.filters
*.cmake
*.stamp
*.depend
*.list
CmakeFiles/
build/
*.check_cache
CMakeCache.txt
